#moldaLoginID{
    display: none;
}
.menuIndex{
    align-items: center;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    background-color: #FF8811;
}
.menuIndex img{
    width: 435px;
    height: 100px;
}
.traço{
    height: 80px;
    width: 1px;
    background-color: #F7F7E7;
}