@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Freehand&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');

.interfaceUsuario{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #FF8811;
}

.interfaceUsuario h2{
    color: #002D4C;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.imgLogo{
    width: 40%;
}

.imgLogo img {
    max-width: 400px;
}

.sloganInterfaceUsuario{
    font-size: 130%;
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
}

@media (max-width: 832px) {
    .sloganInterfaceUsuario {
        font-size: 70%;
    }
  }

.menuInterfaceUsuario div{
    display: flex;
    justify-content: flex-end;
}

.menuInterfaceUsuario{
    font-size: 100%;
    width: 30%;
    max-width: 150px;
    text-align: left;
    margin-top: 2%;
    margin-right: 2%;
}

.menuInterfaceUsuario img{
    width: 15px;
    margin-bottom: 0.8%;
}
.slideshow {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .slideshow img {
    float: left;
  }
  
  #prev,
  #next {
    position: absolute;
    display: block;
    top: 100px;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
  }
  
  #prev {
    left: 0;
    background: url(https://image.ibb.co/jevVLk/prev.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }
  
  #next {
    right: 0;
    background: url(https://image.ibb.co/eGoT6Q/next.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }
