@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Freehand&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');

.interfaceUsuario{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FF8811;
}

.interfaceUsuario h2{
    color: #002D4C;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.menuUsuario {
  top: 10%;
  margin-left: 100px;
  display: none;
  flex-direction: column;
  position: absolute;
  box-shadow: 4px 4px 5px rgba(34, 33, 33, 0.5);
  background-color: #F4E5CB;
  color: #002D4C;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  height: 70px;
  width: 112px;
  border-radius: 5px;
  z-index: 6;
}

.menuUsuario li{
  display: block;
  list-style-type: none;
  margin: 4px;
}

.menuUsuario li a{
  text-decoration: none;
  color: black;
}

.menuUsuario li a:hover{
  text-decoration:underline;
}

.imgLogo{
  width: 40%;
  text-align: center;
  margin: auto;
}

.imgLogo img {
  max-width: 400px;
}

.sloganInterfaceUsuario{
    font-size: 130%;
    width: 225.48px;
    margin: 2%;
    text-align: center;
}

@media (max-width: 832px) {
    .sloganInterfaceUsuario {
        font-size: 70%;
    }
  }

.menuInterfaceUsuarioDiv{
    display: block;
}

.menuInterfaceUsuario{
  display: flex;
  flex-direction: column;
    font-size: 100%;
    width: 225.48px;
    display: flex;
    text-align: left;
    margin: 2%;
}

.menuInterfaceUsuario h2{
  margin-left: 100px;
}

.usuarioClick{
  display: flex; 
  width: 15px; 
  height: 15px; 
  cursor: pointer;
}

.menuInterfaceUsuario img{
    width: 15px;
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 2px;
}

html, body, main {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 780px;
  top: 63%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  border-radius: 30px;
  width: 400px;
  height: 600px;
  object-fit: cover;
  transition: 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  cursor: pointer;
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel div.prevLeftSecond img {
  width: 250px;
  height: 450px;
  object-fit: cover;
}
#carousel div.selected {
  cursor: pointer;
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  cursor: pointer;
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel div.nextRightSecond img {
  width: 250px;
  height: 450px;
  object-fit: cover;
}

.arrowLeft,
.arrowRight{
  position: absolute;
  top: 44%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  cursor: pointer;
}
.arrowRight{
  left: auto;
  right: 0;
}

/*.carouselContainer{
  position: relative;
  padding-top: 35px;
  padding-left: 555px;
  padding-right: 555px;
  max-width: 1580px;
  margin: 0 auto;
}

.gallery-wrapper{
  overflow-x: hidden;
}

.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}

.arrowLeft,
.arrowRight{
  position: absolute;
  top: 70px;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, transparent);
}

.arrowRight{
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, transparent);
}

.item{
  border-radius: 8px;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.currentItem{
  margin-top: 0;
  width: 300px;
  height: 400px;
  object-fit: cover;
}*/