/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Freehand&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');
/*index*/


/*Home usuario*/
.interfaceUsuario{
    display: flex;
    width: 100%;
    background-color: #FF8811;
}

.interfaceUsuario h2{
    color: #002D4C;
    font-family: 'Fredoka', sans-serif;
}

.interfaceUsuario img{
    width: 24%;
}

.interfaceUsuario h2 img{
    width: 2%;
}

/*Pet Tinder*/

.headerPetTinder{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #FF8811;
}

.mensajeBienvenida{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 50px;
}

.fraseHead{
    margin-left: 27px;
    margin-right: 0%;
}

.nombrePerro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
}

.mainPetTinder{
    margin-top: 25px;
    margin-left: 25%;
    width: 100%;
    background-color: rgba(244, 229, 203, 1);
    display: flex;
}

.espacioCach{
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    align-items: center;
}

.espacioCach img{
    width: 350px;
    height: 350px;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descripcion{
    display: block;
    margin-top: 1cm;
}

.quiero{
    display: block;
    width: 50px;
    height: 50px;
}

.divBotoes{
    display: flex;
}

/*Tela de Cadastro*/

.navCadastro{
    margin-top: 25px;
    margin-left: 25%;
    width: 100%;
    background-color: #60E1E0;
    display: flex;
    color: #001535; 
    font-family: 'Quicksand';font-size: 22px;
}